*{
	margin: 0;
	padding: 0;
	border: 0;
  text-decoration: none;
}

body{
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  background-color: green;
  width: 100%;
  position: fixed;
  top: 0;
}

#titulo {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 300%;
  text-align: center;
  line-height: 80px;
}